DJANGO_SETTINGS_MODULE='config.django.local'
DJANGO_DEBUG=True
SECRET_KEY=your-secret-key


# PostgreSQL settings
DATABASE_NAME=mydatabase
DATABASE_USER=postgres
DATABASE_PASSWORD=0000
DATABASE_HOST=localhost
DATABASE_PORT=5432